@font-face {
    font-family: "Nikea Sans";
    src: url(Font/NIKEA.otf);
}

#container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    width: 130%;
    object-fit: cover;
}
.slide {
    display: block;
    position: absolute;
    height: fit-content;
    width: fit-content;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

p{
    padding: 1rem;
    text-align: center;
}

button{
    padding: 1rem;
    border-radius: 1rem;
}

html{
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);

}


.space-button {
    padding: 15px 30px;
    background: linear-gradient(145deg, #3d3d3d, #5d5d5d);
    color: white;
    font-size: 1.5rem;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;

}


.space-button:hover {
    scale: 1.1;
    background: linear-gradient(145deg, #5d5d5d, #8d8d8d);
}


@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    .space-button {
        font-size: 1.2rem;
        padding: 12px 25px;
    }
}
h1 {
    font-family: "Nikea Sans";
    font-size:3em;
}